In [7]:
import boto3
import pandas as pd

Create Resourse of s3 Bucket

In [168]:
s3=boto3.resource('s3')

Create Client for s3 Bucket

In [169]:
s3_client=boto3.client('s3')

Accessiing a Object from s3 Bucket through client

In [170]:
objc=s3_client.get_object(Bucket='som-aws-bucket-1',Key='Train.csv')

To read that object file body we should 'Body'

In [171]:
Train_data=pd.read_csv(objc['Body'])

print data

In [172]:
Train_data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

Create file same as train by copying file for keep Our original File

In [173]:
Outlet_data1=Train_data

In [174]:
Outlet_data1

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [175]:
gp1=Outlet_data1.groupby('Outlet_Identifier')

In [176]:
list_outlet_identifier={}

for data,value in gp1:
    list_outlet_identifier[data]=value
#     print(data)
#     print(value)
#     #print(gp1.get_group(data[0])['Outlet_Size'].mode()[0])
#     for k in gp1.get_group(data[0])['Outlet_Size']:
#         print(k.fillna(gp1.get_group(data[0])['Outlet_Size'].mode()[0]), inplace=Ture)

In [177]:
print(list_outlet_identifier)

{'OUT010':      Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
3              FDX07       19.200          Regular         0.000000
28             FDE51        5.925          Regular         0.161467
30             FDV38       19.250          Low Fat         0.170349
45             FDM39        6.420               LF         0.089499
65             FDC46       17.700               LF         0.195068
...              ...          ...              ...              ...
8400           NCE07        8.180          Low Fat         0.021977
8432           FDI16       14.000          Regular         0.227261
8473           DRI47       14.700          Low Fat         0.035016
8486           FDR20       20.000          Regular         0.000000
8509           FDG45        8.100          Low Fat         0.214306

                  Item_Type  Item_MRP Outlet_Identifier  \
3     Fruits and Vegetables  182.0950            OUT010
28                    Dairy   45.5086            OUT010
30                    Dairy   55.7956            OUT010
45                    Dairy  178.1002            OUT010
65              Snack Foods  185.4266            OUT010
...                     ...       ...               ...
8400              Household  140.6154            OUT010
8432           Frozen Foods   54.3640            OUT010
8473            Hard Drinks  144.3128            OUT010
8486  Fruits and Vegetables   46.4744            OUT010
8509  Fruits and Vegetables  213.9902            OUT010

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
3                          1998         NaN               Tier 3
28                         1998         NaN               Tier 3
30                         1998         NaN               Tier 3
45                         1998         NaN               Tier 3
65                         1998         NaN               Tier 3
...                         ...         ...                  ...
8400                       1998         NaN               Tier 3
8432                       1998         NaN               Tier 3
8473                       1998         NaN               Tier 3
8486                       1998         NaN               Tier 3
8509                       1998         NaN               Tier 3

        Outlet_Type  Item_Outlet_Sales
3     Grocery Store           732.3800
28    Grocery Store           178.4344
30    Grocery Store           163.7868
45    Grocery Store           358.2004
65    Grocery Store           184.4266
...             ...                ...
8400  Grocery Store           425.4462
8432  Grocery Store           159.7920
8473  Grocery Store           431.4384
8486  Grocery Store            45.2744
8509  Grocery Store           424.7804

[555 rows x 12 columns], 'OUT013':      Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
4              NCD19        8.930          Low Fat         0.000000
6              FDO10       13.650          Regular         0.012741
14             FDF32       16.350          Low Fat         0.068024
20             FDN22       18.850          Regular         0.138190
27             DRJ59       11.650          low fat         0.019356
...              ...          ...              ...              ...
8462           FDQ31        5.785          Regular         0.053802
8466           FDJ32       10.695          Low Fat         0.057744
8484           DRJ49        6.865          Low Fat         0.000000
8512           FDR26       20.700          Low Fat         0.042801
8518           FDF22        6.865          Low Fat         0.056783

                  Item_Type  Item_MRP Outlet_Identifier  \
4                 Household   53.8614            OUT013
6               Snack Foods   57.6588            OUT013
14    Fruits and Vegetables  196.4426            OUT013
20              Snack Foods  250.8724            OUT013
27              Hard Drinks   39.1164            OUT013
...                     ...       ...               ...
8462  Fruits and Vegetables   85.9856            OUT013
8466  Fruits and Vegetables   61.2536            OUT013
8484            Soft Drinks  129.9652            OUT013
8512                  Dairy  178.3028            OUT013
8518            Snack Foods  214.5218            OUT013

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
4                          1987        High               Tier 3
6                          1987        High               Tier 3
14                         1987        High               Tier 3
20                         1987        High               Tier 3
27                         1987        High               Tier 3
...                         ...         ...                  ...
8462                       1987        High               Tier 3
8466                       1987        High               Tier 3
8484                       1987        High               Tier 3
8512                       1987        High               Tier 3
8518                       1987        High               Tier 3

            Outlet_Type  Item_Outlet_Sales
4     Supermarket Type1           994.7052
6     Supermarket Type1           343.5528
14    Supermarket Type1          1977.4260
20    Supermarket Type1          3775.0860
27    Supermarket Type1           308.9312
...                 ...                ...
8462  Supermarket Type1          1494.0552
8466  Supermarket Type1           673.7896
8484  Supermarket Type1          2324.9736
8512  Supermarket Type1          2479.4392
8518  Supermarket Type1          2778.3834

[932 rows x 12 columns], 'OUT017':      Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
9              FDU28       19.200          Regular         0.094450
25             NCD06       13.000          Low Fat         0.099887
53             FDA43       10.895          Low Fat         0.065042
54             NCP18       12.150          Low Fat         0.028760
73             FDG02        7.855          Low Fat         0.011325
...              ...          ...              ...              ...
8493           FDP21        7.420          Regular         0.025886
8494           NCI54       15.200          Low Fat         0.000000
8496           FDJ57        7.420          Regular         0.021696
8500           NCQ42       20.350          Low Fat         0.000000
8501           FDW21        5.340          Regular         0.005998

                  Item_Type  Item_MRP Outlet_Identifier  \
9              Frozen Foods  187.8214            OUT017
25                Household   45.9060            OUT017
53    Fruits and Vegetables  196.3794            OUT017
54                Household  151.4708            OUT017
73                   Canned  189.6188            OUT017
...                     ...       ...               ...
8493            Snack Foods  189.1872            OUT017
8494              Household  110.4912            OUT017
8496                Seafood  185.3582            OUT017
8500              Household  125.1678            OUT017
8501            Snack Foods  100.4358            OUT017

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
9                          2007         NaN               Tier 2
25                         2007         NaN               Tier 2
53                         2007         NaN               Tier 2
54                         2007         NaN               Tier 2
73                         2007         NaN               Tier 2
...                         ...         ...                  ...
8493                       2007         NaN               Tier 2
8494                       2007         NaN               Tier 2
8496                       2007         NaN               Tier 2
8500                       2007         NaN               Tier 2
8501                       2007         NaN               Tier 2

            Outlet_Type  Item_Outlet_Sales
9     Supermarket Type1          4710.5350
25    Supermarket Type1           838.9080
53    Supermarket Type1          3121.2704
54    Supermarket Type1          4815.0656
73    Supermarket Type1          2285.0256
...                 ...                ...
8493  Supermarket Type1          4727.1800
8494  Supermarket Type1          1637.8680
8496  Supermarket Type1          3715.1640
8500  Supermarket Type1          1907.5170
8501  Supermarket Type1          1508.0370

[926 rows x 12 columns], 'OUT018':      Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
1              DRC01        5.920          Regular         0.019278
5              FDP36       10.395          Regular         0.000000
16             NCB42       11.800          Low Fat         0.008596
31             NCS17       18.600          Low Fat         0.080829
32             FDP33       18.700          Low Fat         0.000000
...              ...          ...              ...              ...
8506           DRF37       17.250          Low Fat         0.084676
8511           FDF05       17.500          Low Fat         0.026980
8515           FDH24       20.700          Low Fat         0.021518
8516           NCJ19       18.600          Low Fat         0.118661
8521           FDN46        7.210          Regular         0.145221

               Item_Type  Item_MRP Outlet_Identifier  \
1            Soft Drinks   48.2692            OUT018
5           Baking Goods   51.4008            OUT018
16    Health and Hygiene  115.3492            OUT018
31    Health and Hygiene   96.4436            OUT018
32           Snack Foods  256.6672            OUT018
...                  ...       ...               ...
8506         Soft Drinks  263.1910            OUT018
8511        Frozen Foods  262.5910            OUT018
8515        Baking Goods  157.5288            OUT018
8516              Others   58.7588            OUT018
8521         Snack Foods  103.1332            OUT018

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
1                          2009      Medium               Tier 3
5                          2009      Medium               Tier 3
16                         2009      Medium               Tier 3
31                         2009      Medium               Tier 3
32                         2009      Medium               Tier 3
...                         ...         ...                  ...
8506                       2009      Medium               Tier 3
8511                       2009      Medium               Tier 3
8515                       2009      Medium               Tier 3
8516                       2009      Medium               Tier 3
8521                       2009      Medium               Tier 3

            Outlet_Type  Item_Outlet_Sales
1     Supermarket Type2           443.4228
5     Supermarket Type2           556.6088
16    Supermarket Type2          1621.8888
31    Supermarket Type2          2741.7644
32    Supermarket Type2          3068.0064
...                 ...                ...
8506  Supermarket Type2          3944.8650
8511  Supermarket Type2          4207.8560
8515  Supermarket Type2          1571.2880
8516  Supermarket Type2           858.8820
8521  Supermarket Type2          1845.5976

[928 rows x 12 columns], 'OUT019':      Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
23             FDC37          NaN          Low Fat         0.057557
29             FDC14          NaN          Regular         0.072222
49             FDS02          NaN          Regular         0.255395
59             FDI26          NaN          Low Fat         0.061082
63             FDY40          NaN          Regular         0.150286
...              ...          ...              ...              ...
8454           NCH54          NaN          Low Fat         0.127234
8458           FDX20          NaN          Low Fat         0.074518
8469           FDQ45          NaN          Regular         0.019114
8480           FDQ58          NaN          Low Fat         0.000000
8490           FDU44          NaN          Regular         0.102296

                  Item_Type  Item_MRP Outlet_Identifier  \
23             Baking Goods  107.6938            OUT019
29                   Canned   43.6454            OUT019
49                    Dairy  196.8794            OUT019
59                   Canned  180.0344            OUT019
63             Frozen Foods   51.0692            OUT019
...                     ...       ...               ...
8454              Household  158.3920            OUT019
8458  Fruits and Vegetables  227.3720            OUT019
8469            Snack Foods  182.1608            OUT019
8480            Snack Foods  154.5340            OUT019
8490  Fruits and Vegetables  162.3552            OUT019

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
23                         1985       Small               Tier 1
29                         1985       Small               Tier 1
49                         1985       Small               Tier 1
59                         1985       Small               Tier 1
63                         1985       Small               Tier 1
...                         ...         ...                  ...
8454                       1985       Small               Tier 1
8458                       1985       Small               Tier 1
8469                       1985       Small               Tier 1
8480                       1985       Small               Tier 1
8490                       1985       Small               Tier 1

        Outlet_Type  Item_Outlet_Sales
23    Grocery Store           214.3876
29    Grocery Store           125.8362
49    Grocery Store           780.3176
59    Grocery Store           892.1720
63    Grocery Store           147.8076
...             ...                ...
8454  Grocery Store           159.7920
8458  Grocery Store           452.7440
8469  Grocery Store           367.5216
8480  Grocery Store           459.4020
8490  Grocery Store           487.3656

[528 rows x 12 columns], 'OUT027':      Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
7              FDP10          NaN          Low Fat         0.127470
18             DRI11          NaN          Low Fat         0.034238
21             FDW12          NaN          Regular         0.035400
36             FDV20          NaN          Regular         0.059512
38             FDX10          NaN          Regular         0.123111
...              ...          ...              ...              ...
8472           NCS41          NaN          Low Fat         0.053185
8485           DRK37          NaN          Low Fat         0.043792
8487           DRG13          NaN          Low Fat         0.037006
8488           NCN14          NaN          Low Fat         0.091473
8504           NCN18          NaN          Low Fat         0.124111

                  Item_Type  Item_MRP Outlet_Identifier  \
7               Snack Foods  107.7622            OUT027
18              Hard Drinks  113.2834            OUT027
21             Baking Goods  144.5444            OUT027
36    Fruits and Vegetables  128.0678            OUT027
38              Snack Foods   36.9874            OUT027
...                     ...       ...               ...
8472     Health and Hygiene  182.9608            OUT027
8485            Soft Drinks  189.0530            OUT027
8487            Soft Drinks  164.7526            OUT027
8488                 Others  184.6608            OUT027
8504              Household  111.7544            OUT027

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
7                          1985      Medium               Tier 3
18                         1985      Medium               Tier 3
21                         1985      Medium               Tier 3
36                         1985      Medium               Tier 3
38                         1985      Medium               Tier 3
...                         ...         ...                  ...
8472                       1985      Medium               Tier 3
8485                       1985      Medium               Tier 3
8487                       1985      Medium               Tier 3
8488                       1985      Medium               Tier 3
8504                       1985      Medium               Tier 3

            Outlet_Type  Item_Outlet_Sales
7     Supermarket Type3          4022.7636
18    Supermarket Type3          2303.6680
21    Supermarket Type3          4064.0432
36    Supermarket Type3          2797.6916
38    Supermarket Type3           388.1614
...                 ...                ...
8472  Supermarket Type3          1653.8472
8485  Supermarket Type3          6261.8490
8487  Supermarket Type3          4111.3150
8488  Supermarket Type3          2756.4120
8504  Supermarket Type3          4138.6128

[935 rows x 12 columns], 'OUT035':      Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
19             FDU02       13.350          Low Fat         0.102492
22             NCB30       14.600          Low Fat         0.025698
26             FDV10        7.645          Regular         0.066693
66             FDH19       19.350          Low Fat         0.033082
86             FDZ55        6.055          Low Fat         0.025404
...              ...          ...              ...              ...
8503           FDQ44       20.500          Low Fat         0.036133
8507           FDN28        5.880          Regular         0.030242
8510           FDN58       13.800          Regular         0.056862
8513           FDH31       12.000          Regular         0.020407
8520           NCJ29       10.600          Low Fat         0.035186

                  Item_Type  Item_MRP Outlet_Identifier  \
19                    Dairy  230.5352            OUT035
22                Household  196.5084            OUT035
26              Snack Foods   42.3112            OUT035
66                     Meat  172.5738            OUT035
86    Fruits and Vegetables  160.9920            OUT035
...                     ...       ...               ...
8503  Fruits and Vegetables  120.1756            OUT035
8507           Frozen Foods  101.7990            OUT035
8510            Snack Foods  231.5984            OUT035
8513                   Meat   99.9042            OUT035
8520     Health and Hygiene   85.1224            OUT035

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
19                         2004       Small               Tier 2
22                         2004       Small               Tier 2
26                         2004       Small               Tier 2
66                         2004       Small               Tier 2
86                         2004       Small               Tier 2
...                         ...         ...                  ...
8503                       2004       Small               Tier 2
8507                       2004       Small               Tier 2
8510                       2004       Small               Tier 2
8513                       2004       Small               Tier 2
8520                       2004       Small               Tier 2

            Outlet_Type  Item_Outlet_Sales
19    Supermarket Type1          2748.4224
22    Supermarket Type1          1587.2672
26    Supermarket Type1          1065.2800
66    Supermarket Type1          4865.6664
86    Supermarket Type1          2716.4640
...                 ...                ...
8503  Supermarket Type1          3392.9168
8507  Supermarket Type1           515.9950
8510  Supermarket Type1          7182.6504
8513  Supermarket Type1           595.2252
8520  Supermarket Type1          1193.1136

[930 rows x 12 columns], 'OUT045':      Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
8              FDH17       16.200          Regular         0.016687
33             FDO23       17.850          Low Fat         0.000000
46             NCP05       19.600          Low Fat         0.000000

In [1]:
import sqlalchemy

In [2]:
name='root'            # Your MySQL User name
password='root'        # Your Password
database_name='test'   # your Database Name

In [3]:
engine = sqlalchemy.create_engine('mysql+pymysql://' + name + ':' + password + '@localhost:3306/' + database_name)

In [181]:
for k,v in list_outlet_identifier.items():
    v.to_sql(name=k,con=engine,if_exists='append',index=False)

C:\Users\soman\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'OUT010' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\soman\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'OUT013' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\soman\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'OUT017' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\soman\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'OUT018' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\soman\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'OUT019' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\soman\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'OUT027' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\soman\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'OUT035' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\soman\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'OUT045' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\soman\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'OUT046' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)
C:\Users\soman\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'OUT049' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [182]:
all_user_details = pd.read_sql_query("update OUT049 set Item_Weight=90 where Item_Identifier='FDA15' ;", engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [ ]:
all_user=all_user_details.head(5)

In [ ]:
all_user

In [ ]:
all_user_details = pd.read_sql_query("update OUT049 set Item_Weight=90 where Item_Identifier=FDA15 ;", engine)

In [ ]:
all_user.iloc[:,0]

In [ ]:
l=[]
for i in all_user.iloc[:,0]:
    print(i)
    l.append(i)

In [ ]:
print(l)
if 'FDA15' in l:
    print("Y")
else:
    print("n")

In [ ]:
l=[1,3,4,5,6,7]
if 3 in l:
    print("y")
else:
    print("no")

In [ ]:
l=['FDA15', 'FDN15', 'FDY07', 'FDX32', 'FDP49']

In [ ]:
df3=pd.DataFrame([l],columns=['u','b','c','d','e'])

In [ ]:
df3

In [23]:
user_detail=pd.read_sql_query("select password from User_Details where User_id=7978840210;", engine)

In [24]:
user_detail

   password
0    456545

In [29]:
type(str(user_detail['password'][0]))

str

In [ ]:
user_id_n_pass=user_detail.groupby(['User_id','Password'])

In [183]:
for i,j in user_id_n_pass:
    print(i)

('7978840210', 401162)

In [184]:
tpl=[('7978840210', 401162),('Som', 4012),('9658755334', 5551)]

In [185]:
tpl

[('7978840210', 401162), ('Som', 4012), ('9658755334', 5551)]

In [186]:
d=input("Enter user id :")
pw=input("Enter password :")

Enter user id :
Enter password :

In [20]:
id=input("Enter user id :")
# pw=int(input("Enter password :"))

# try:
#     psw=pd.read_sql_query("select password from User_Details where User_id=d;", engine)
# except:
#     print("User id does not exist..")
# else:
#     if pw==psw:
#         print("True")
#     else:
#         print("False")
pd.read_sql_query("update user_details set password='456545' where user_id={};".format(id), engine)
print("Updated sucessfully")

Enter user id :7978840210

ResourceClosedError: This result object does not return rows. It has been closed automatically.