In [20]:
import boto3,os

In [21]:
import pandas as pd

In [22]:
#client access creation

In [23]:
import boto3
s3_client=boto3.client('s3')

In [24]:
# Resource access creation

In [25]:
s3=boto3.resource('s3')

In [26]:
#creating a bucket

In [27]:
s3.create_bucket(Bucket='som-aws-bucket-2')

s3.Bucket(name='som-aws-bucket-2')

In [28]:
#To Show how many bucket in your s3

In [29]:
for bucket in s3.buckets.all():
    print(bucket)

s3.Bucket(name='som-aws-bucket-1')
s3.Bucket(name='som-aws-bucket-2')

In [30]:
#To show all objects in all buckets

In [31]:
for bucket in s3.buckets.all():
    for obj in bucket.objects.all():
        print(obj)
        print('-------------------------')
        print(os.path.join(obj.bucket_name , obj.key))

s3.ObjectSummary(bucket_name='som-aws-bucket-1', key='Train.csv')
-------------------------
som-aws-bucket-1\Train.csv

In [32]:
#Access file from s3

In [57]:
objc=s3_client.get_object(Bucket='som-aws-bucket-1',Key='Train.csv')

In [34]:
#read that file

In [35]:
data=pd.read_csv(objc['Body'])

In [36]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [10]:
import pandas as pd
path='s3://som-aws-bucket-1/Train.csv'
df=pd.read_csv(path)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [12]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [38]:
#upload file into bucket

In [39]:
s3.meta.client.upload_file('E:\Aroha Tech\Pandas Session\FILE.csv','som-aws-bucket-1','FILE.csv')

In [40]:
#Note if s3 was as client instead of of a resource, s3 command becames,
#-> s3.upload_file('<File Name>','<Bucket Name>','<Key Name which is nothing but your file name>')

In [41]:
#delete object(Nothing but a file )

In [46]:
s3.meta.client.delete_object(Bucket="som-aws-bucket-1",Key="Train.csv") # Bucket and Key name must be case sensetive

{'ResponseMetadata': {'RequestId': 'HWMZ8S8EK7WK90R7',
  'HostId': 'bWK7ZIPK54Cqrp9686qI4s2Cxp2jURru0PqUITkZaf3UWVzjXUN2VpQWfPFJ/45rIrF0swyv3ZU=',
  'HTTPStatusCode': 204,
  'HTTPHeaders': {'x-amz-id-2': 'bWK7ZIPK54Cqrp9686qI4s2Cxp2jURru0PqUITkZaf3UWVzjXUN2VpQWfPFJ/45rIrF0swyv3ZU=',
   'x-amz-request-id': 'HWMZ8S8EK7WK90R7',
   'date': 'Sun, 15 Aug 2021 03:57:38 GMT',
   'x-amz-version-id': 'nUFViJEvFLikLaX9SO_51gcT45.Sx9eZ',
   'x-amz-delete-marker': 'true',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'DeleteMarker': True,
 'VersionId': 'nUFViJEvFLikLaX9SO_51gcT45.Sx9eZ'}

In [47]:
#Delete a Bucket

#for delete a Bucket we should empty that before delete

In [48]:
# How to empty a Bucket and then delete that Bucket

In [52]:
'''
Syntax:-

<Handler Name> = s3.Bucket('< bucket name >')

for key in <Handler Name>.objects.all():
    key.delete()      #empty the Bucket

#then delete that Bucket
    
<Handler Name>.delete()
'''

"\n<Handler Name> = s3.Bucket('< bucket name >')\n\nfor key in <Handler Name>.objects.all():\n    key.delete()      #empty the Bucket\n\n#then delete that Bucket\n    \n<Handler Name>.delete()\n"

In [50]:
bct=s3.Bucket('som-aws-bucket-2')

In [51]:
bct.delete()

{'ResponseMetadata': {'RequestId': 'RDY8CQ4X6274N28V',
  'HostId': 'viMSrFs7iK2d/ovaxDtpUCup00mUo62XjJ3ark4loojjWwJCAdxvHSF5XXSQM/04rmVff0FbhbA=',
  'HTTPStatusCode': 204,
  'HTTPHeaders': {'x-amz-id-2': 'viMSrFs7iK2d/ovaxDtpUCup00mUo62XjJ3ark4loojjWwJCAdxvHSF5XXSQM/04rmVff0FbhbA=',
   'x-amz-request-id': 'RDY8CQ4X6274N28V',
   'date': 'Sun, 15 Aug 2021 04:09:04 GMT',
   'server': 'AmazonS3'},
  'RetryAttempts': 1}}

In [53]:
#upload a file into s3 bucket

In [56]:
s3.meta.client.upload_file(r'C:\Users\soman\Downloads\Train.csv','som-aws-bucket-1','Train.csv')