In [1]:
import pandas as pd

In [29]:
df=pd.read_csv('E:\Aroha Tech\Pandas Session\FILE.csv')

In [30]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [31]:
# For every DataFrame pandas provide default indexing, But we can customeise indexing as per our requirements

# Or also we can make one of our DataFrame column as index column

# set_index()

In [35]:
df1=df.set_index('EST')  # by storing value in a varible/handler

In [36]:
df1

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN,281
01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

# Copy one DataFrame to Another

In [37]:
# By Using copy() method

df2=df.copy()

In [38]:
df2

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [43]:
#By using = opretor, but there is oner problem with '=' oparetor , when perform any modification on copied DataFrame ,It will be
# affecterd to our original DataFrame

df3=df2

In [44]:
df3

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [45]:
df3.set_index('EST')   # It will not  set index / change index permanently

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN,281
01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [46]:
df3

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [47]:
# In above we see that df3.set_index('EST')  ,It will not  set index / change index permanently.

# If we want to  set index / change index permanently ,then we specify inplace attribute is True (inplace=True)

#Syntax : <DataFrame name>.set_index( '<column name>', inplace=Ture)

# But there is another way without using inplace attribute, just we can store set indexing value into varialbe and call that

In [48]:
df3.set_index('EST', inplace=True)

In [23]:
df3

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN,281
01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [52]:
df.index   # It will return index information

RangeIndex(start=0, stop=31, step=1)

In [53]:
df3.index

Index(['01-01-2016', '01-02-2016', '01-03-2016', '01-04-2016', '01-05-2016',
       '01-06-2016', '01-07-2016', '01-08-2016', '01-09-2016', '01-10-2016',
       '01-11-2016', '01-12-2016', '1/13/2016', '1/14/2016', '1/15/2016',
       '1/16/2016', '1/17/2016', '1/18/2016', '1/19/2016', '1/20/2016',
       '1/21/2016', '1/22/2016', '1/23/2016', '1/24/2016', '1/25/2016',
       '1/26/2016', '1/27/2016', '1/28/2016', '1/29/2016', '1/30/2016',
       '1/31/2016'],
      dtype='object', name='EST')

In [54]:
#After modifing index , if we try to retrive data with loc[0] we will gwt error , but when we will try same with iloc[0] will
# get result

In [55]:
df3.loc[3]

KeyError: 3

In [56]:
df3.iloc[3]

Temperature                25
DewPoint                    9
Humidity                   44
Sea Level PressureIn    30.05
VisibilityMiles            10
WindSpeedMPH              9.0
PrecipitationIn             0
CloudCover                  3
Events                    NaN
WindDirDegrees            345
Name: 01-04-2016, dtype: object

# reset_index()

In [57]:
# If we want to reset our modified index then we should go for reset_index()

In [58]:
df3

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN,281
01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [59]:
df3.reset_index(inplace=True)

In [60]:
df3

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241


We can specify the index column when we create the dataframe , for this we have to specify 'index_col' attribute

syntax:
    
    <Data Frame name>=pd.<read which type of file>('<File name>', index_col=<specify column name>)
    
ex:

    df=pd.read_csv("E:\Aroha Tech\Pandas Session\FILE.csv", index_col='EST')
    

But recomanded to go for only unique column value to set as index column

In [61]:
df4=pd.read_csv("E:\Aroha Tech\Pandas Session\FILE.csv", index_col='EST')

In [62]:
df4

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN,281
01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

# sort data

In [70]:
# We can sort data by index wise, we can use sort_index()

#syntax :  <Data Frame Name>.sort_index()     (By default it return ascending order sorting value)

#            <Data Frame Name>.sort_index(ascending=False)      (By default it return descending order sorting value)

In [67]:
df4.sort_index()     # (By default it return ascending order sorting value)

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN,281
01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [69]:
df4.sort_index(ascending=False)      # (By default it return descending order sorting value)

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241
1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
01-12-2016,35,15,53,29.85,10,6.0,T,4,NaN,235
01-11-2016,33,8,37,29.92,10,NaN,0,1,NaN,289
01-10-2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
01-09-2016,44,38,77,30.16,9,8.0,T,8,Rain,76
01-08-2016,39,29,64,30.20,10,4.0,0,8,NaN,79
01-07-2016,39,11,33,30.28,10,2.0,0,3,NaN,293
01-06-2016,33,4,35,30.50,10,4.0,0,0,NaN,259
01-05-2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
01-04-2016,25,9,44,30.05,10,9.0,0,3,NaN,345
01-03-2016,40,21,47,29.86,10,8.0,0,1,NaN,277
01-02-2016,36,18,46,30.02,10,7.0,0,3,NaN,275
01-01-2016,38,23,52,30.03,10,8.0,0,5,NaN,281