In [3]:
import pandas as pd

In [4]:
df =pd.read_csv('E:\Aroha Tech\Pandas Session\Data_Outlet.csv')

In [5]:
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

# To Show perticular column values

In [12]:
# To show a perticular column value we must specifie that column name
# And result become a series object
# Syntax : <DataFrame_name>['<Column_name>']

#      or, <DataFrame_name>.<Column_name>    (not recomandetion)

In [9]:
df['Item_Identifier']

0       FDA15
1       DRC01
2       FDN15
3       FDX07
4       NCD19
        ...
8518    FDF22
8519    FDS36
8520    NCJ29
8521    FDN46
8522    DRG01
Name: Item_Identifier, Length: 8523, dtype: object

In [10]:
#or,
df.Item_Identifier

0       FDA15
1       DRC01
2       FDN15
3       FDX07
4       NCD19
        ...
8518    FDF22
8519    FDS36
8520    NCJ29
8521    FDN46
8522    DRG01
Name: Item_Identifier, Length: 8523, dtype: object

In [11]:
type(df['Item_Identifier'])

pandas.core.series.Series

# To Access multiple columns

In [8]:
#Syntax : <DataFrame_name>[['<Col1 Name>','<Col2 Name>',...,'<Col n Name>']]
# pass list of columns


# and it's return type is anaother data frame not a Series

In [7]:
df[['Item_Identifier','Item_Weight']]

     Item_Identifier  Item_Weight
0              FDA15        9.300
1              DRC01        5.920
2              FDN15       17.500
3              FDX07       19.200
4              NCD19        8.930
...              ...          ...
8518           FDF22        6.865
8519           FDS36        8.380
8520           NCJ29       10.600
8521           FDN46        7.210
8522           DRG01       14.800

[8523 rows x 2 columns]

# To know what are the columns are present in a DataFrame

In [11]:
# Syntax : <DataFrame Name>.columns
# It returns list of name of columns\

In [10]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

# How we get Row ?

In [12]:
# We get row value by using loc, iloc, at, iat etc

# iloc

In [13]:
# iloc allow us to access rows by index location
# Syntax : <DataFrame Name>.iloc[<index no.>]

In [15]:
df.iloc[1]
#It returns the second row value bcz indexing start with 0.

Item_Identifier                          DRC01
Item_Weight                               5.92
Item_Fat_Content                       Regular
Item_Visibility                       0.019278
Item_Type                          Soft Drinks
Item_MRP                               48.2692
Outlet_Identifier                       OUT018
Outlet_Establishment_Year                 2009
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 3
Outlet_Type                  Supermarket Type2
Item_Outlet_Sales                     443.4228
Name: 1, dtype: object

In [16]:
# We can access multiple rows at a time by by passing list of index value
# Syntax : <DAtaFrame Name>.iloc[[<index 0,index 1, index 6,...index n >]]

In [18]:
df.iloc[[0,3,2]]        # It returns the result according to in order  as we mention

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.138
3,FDX07,19.2,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.380
2,FDN15,17.5,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.270

In [30]:
# If we want to access multiple rows along with specified column , then we have to pass aslo 'position of that column name - 1'
# We can not pass column name instead of column position
# Syntax : <DAtaFrame Name>.iloc[[<index 0,index 1, index 6,...index n >],[<list of columns position >]]

In [21]:
df.iloc[[0,3,2],1] # To access a single column

0     9.3
3    19.2
2    17.5
Name: Item_Weight, dtype: float64

In [23]:
df.iloc[[0,3,2],[2,4]]    # To access multiple columns

  Item_Fat_Content              Item_Type
0          Low Fat                  Dairy
3          Regular  Fruits and Vegetables
2          Low Fat                   Meat

In [31]:
# If we try By using columns name , we will get index error

In [58]:
df.iloc[[0,3,2],['Item_Fat_Content','Item_Type']]

TypeError: cannot do positional indexing on Index with these indexers [Item_Fat_Content] of type str

In [57]:
# By using Slice Operator
# Syntax : <DataFrame name>.iloc[ start index value : end index value , start column position value : end column position value ]

In [54]:
df.iloc[1:5]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [55]:
df.iloc[1:5,3:6]

   Item_Visibility              Item_Type  Item_MRP
1         0.019278            Soft Drinks   48.2692
2         0.016760                   Meat  141.6180
3         0.000000  Fruits and Vegetables  182.0950
4         0.000000              Household   53.8614

# loc

In [24]:
# By using loc we can searching rows by level,
# But it similar to iloc
# Syntax : <DataFrame Name>.iloc[<index no.>]

In [25]:
df.loc[0]

Item_Identifier                          FDA15
Item_Weight                                9.3
Item_Fat_Content                       Low Fat
Item_Visibility                       0.016047
Item_Type                                Dairy
Item_MRP                              249.8092
Outlet_Identifier                       OUT049
Outlet_Establishment_Year                 1999
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 1
Outlet_Type                  Supermarket Type1
Item_Outlet_Sales                     3735.138
Name: 0, dtype: object

In [33]:
# We can access multiple rows at a time by by passing list of index value
# Syntax : <DAtaFrame Name>.loc[[<index 0,index 1, index 6,...index n >]]

In [35]:
df.loc[[1,3,6]]     # To get multiple rows value

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
6,FDO10,13.65,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528

In [36]:
# If we want to access multiple rows along with specified column , then we have to pass  that column name
# We can not pass column position instead of column name
# Syntax : <DAtaFrame Name>.iloc[[<index 0,index 1, index 6,...index n >],[<list of columns name >]]

In [42]:
df.loc[[0,3,2],'Item_Fat_Content'] # To access a single column

0    Low Fat
3    Regular
2    Low Fat
Name: Item_Fat_Content, dtype: object

In [43]:
df.loc[[0,3,2],['Item_Fat_Content','Item_Type']]    # To access multiple columns

  Item_Fat_Content              Item_Type
0          Low Fat                  Dairy
3          Regular  Fruits and Vegetables
2          Low Fat                   Meat

In [44]:
df.loc[[0,3,2],['Item_Fat_Content','Item_Type']]

  Item_Fat_Content              Item_Type
0          Low Fat                  Dairy
3          Regular  Fruits and Vegetables
2          Low Fat                   Meat

In [48]:
# If we try By using columns position value , we will get Key error

In [46]:
df.loc[[2,4,1],1]

KeyError: 1

In [47]:
df.loc[[0,3,2],[2,4]]

KeyError: "None of [Int64Index([2, 4], dtype='int64')] are in the [columns]"

In [59]:
# By using Slice operator

In [ ]:
# By using Slice Operator
# Syntax : <DataFrame name>.iloc[ start index value : end index value , start column name : end column name ]

In [60]:
df.loc[2:6]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528

In [62]:
df.loc[2:6, 'Item_Identifier':'Outlet_Identifier']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013

In [63]:
df.loc[2:6, 4:7]  #TypeError: cannot do slice indexing on Index with these indexers [4] of type int

TypeError: cannot do slice indexing on Index with these indexers [4] of type int

# value_colunts()

In [64]:
# value_count() , is a method , that returns how may times values are occure individually in a specific column

# Syntax : <DataFrame Name>['< column name>'].value_counts()

In [50]:
df['Item_Fat_Content']

0       Low Fat
1       Regular
2       Low Fat
3       Regular
4       Low Fat
         ...
8518    Low Fat
8519    Regular
8520    Low Fat
8521    Regular
8522    Low Fat
Name: Item_Fat_Content, Length: 8523, dtype: object

In [52]:
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64