In [1]:

import pandas as pd
import sqlalchemy

name='root'            # Your MySQL User name
password='root'        # Your Password
database_name='test'   # your Database Name

#Create a Engine 
engine = sqlalchemy.create_engine('mysql+pymysql://' + name + ':' + password + '@localhost:3306/' + database_name)

#Execute sql query through the engine
df = pd.read_sql_query("select * from emp;", engine)
#print Executed data 
print(df)

    empno   ename        job     mgr    hiredate     sal    comm  deptno
0    7369   SMITH      CLERK  7902.0  1980-12-17   800.0     NaN      20
1    7499   ALLEN   SALESMAN  7698.0  1981-02-20  1600.0   300.0      30
2    7521    WARD   SALESMAN  7698.0  1981-02-22  2975.0   500.0      30
3    7566   JONES    MANAGER  7839.0  1981-04-02  2975.0     NaN      20
4    7654  MARTIN   SALESMAN  7698.0  1981-09-28  1250.0  1400.0      30
5    7698   BLAKE    MANAGER  7839.0  1981-05-01  2850.0     NaN      30
6    7782   CLARK    MANAGER  7839.0  1981-06-09  2450.0     NaN      10
7    7788   SCOTT    ANALYST  7566.0  1981-07-13  3000.0     NaN      20
8    7839    KING  PRESIDENT     NaN  1981-11-17  5000.0     NaN      10
9    7844  TURNER   SALESMAN  7698.0  1981-09-08  1500.0     0.0      30
10   7876   ADAMS      CLERK  7788.0  1987-07-13  1100.0     NaN      20
11   7900   JAMES      CLERK  7788.0  1981-12-03   950.0     NaN      30
12   7902    FORD    ANALYST  7566.0  1981-12-03  3000.0     NaN      20
13   7934  MILLER      CLERK  7782.0  1982-01-23  1300.0     NaN      10

In [14]:
id='7978840210'
print(pd.read_sql_query("select * from User_details where user_id='{}';".format(id), engine))

      User_id  Password        Date      Time status_mode
0  7978840210    456545  2012-05-03  10:04:24      Active

In [3]:
    from datetime import datetime,date
    import mysql.connector
    conn = mysql.connector.connect(host="localhost",user="root",password="root",database="test")

    mycursor = conn.cursor()
    
    date_and_time=datetime.now()
    dt=date_and_time.date()
    tm=date_and_time.strftime('%H:%M:%S')
    d=str(dt)
    print(type(str(dt)),type(tm))
    mycursor.execute("update User_Details set password=%s where user_id=%s",('Active','9658755334')  )
    conn.commit()
    mycursor.close()

<class 'str'> <class 'str'>

True