In [34]:
import boto3,os
import pandas as pd

In [35]:
s3=boto3.resource('s3')

In [36]:
s3.meta.client.upload_file(r'E:\Aroha Tech\AWS Session\s3 Bucket\15th Aug\vehicle_master.csv','som-aws-bucket-1','vehicle_master.csv')

In [37]:
import mysql.connector

In [38]:
con=mysql.connector.connect(host='localhost',database='test',user='root',password='root')
cursor=con.cursor()

In [40]:
cursor.execute(" create table vehicle_master(ID_VEHICLE int(4) primary Key,REG_NUMBER varchar(50),NICK_NAME varchar(50),ID_BRANCH int(4),VEHICLE_TYPE varchar(100),MAKER varchar(50),MODEL varchar(50),PRODUCT_TYPE varchar(50)); ")
print("Table Created Successfully..")

ProgrammingError: 1050 (42S01): Table 'vehicle_master' already exists

In [41]:
path='s3://som-aws-bucket-1/vehicle_master.csv'
data=pd.read_csv(path, header=None, names=['ID_VEHICLE','REG_NUMBER','NICK_NAME','ID_BRANCH','VEHICLE_TYPE','MAKER','MODEL','PRODUCT_TYPE'])

In [42]:
type(data)

pandas.core.frame.DataFrame

In [43]:
data.columns

Index(['ID_VEHICLE', 'REG_NUMBER', 'NICK_NAME', 'ID_BRANCH', 'VEHICLE_TYPE',
       'MAKER', 'MODEL', 'PRODUCT_TYPE'],
      dtype='object')

In [44]:
data

,ID_VEHICLE,REG_NUMBER,NICK_NAME,ID_BRANCH,VEHICLE_TYPE,MAKER,MODEL,PRODUCT_TYPE
0,343,XYZ 2899,2899,8,RC - Single Axle,TATA,1210,Tanker
1,330,AB 70 3099,3099,8,AV - Triple Axle(14 Tyres),AL,"3518 IL-18,7,12,8",Tanker
2,332,AB 70 3499,3499,8,RC - Triple Axle,TATA,"3118TC-16,7,10,7",Tanker
3,331,AB 70 3599,3599,8,RC - Triple Axle,TATA,"3118TC-16,7,10,7",Tanker
4,266,AB 30 A 0599,A 0599,8,RC - Double Axle,AL,2214/1,Tanker
...,...,...,...,...,...,...,...,...
170,283,AB 30 P 4699,P 4699,8,RC - Double Axle,TATA,2515 TCIC,Tanker
171,285,AB 30 P 4799,P 4799,8,RC - Double Axle,TATA,2515 TCIC,Tanker
172,286,AB 30 P 4899,P 4899,8,RC - Double Axle,TATA,2515 TCIC,Tanker
173,284,AB 30 P 5899,P 5899,8,RC - Double Axle,TATA,2515 TCIC,Tanker
174,294,CD 9U 299,U 299,8,AV - Triple Axle(14 Tyres),AL,"3516/Hino-10,7,12,8",LPG

In [45]:
for (row,column) in data.iterrows():
    query=" insert into vehicle_master (ID_VEHICLE,REG_NUMBER,NICK_NAME,ID_BRANCH,VEHICLE_TYPE,MAKER,MODEL,PRODUCT_TYPE) values (%s,%s,%s,%s,%s,%s,%s,%s) "
    
    vid_data=column[0]
    rn_data=str(column[1])
    nn_data=str(column[2])
    bid_data=column[3]
    vt_data=str(column[4])
    mkr_data=str(column[5])
    mdl_data=str(column[6])
    pt_data=str(column[7])
    record=(vid_data,rn_data,nn_data,bid_data,vt_data,mkr_data,mdl_data,pt_data)
    cursor.execute(query,record)
con.commit()
cursor.close()

True

In [46]:
con=mysql.connector.connect(host='localhost',database='test',user='root',password='root')
cursor=con.cursor()

In [47]:
cursor.execute("select * from vehicle_master")

In [48]:
tdata=cursor.fetchall()

In [49]:
for row in tdata:
    print(row)

(201, 'AB 30 J 3799', 'J 3799', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(205, 'AB 30 AC 1599', 'AC 1599', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/412-15,7,10,8', 'Tanker')
(208, 'AB 30 AB 1399', 'AB 1399', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/Hino-10,7,12,8', 'Tanker')
(210, 'AB 30 AA 6999', 'AA 6999', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/Hino-10,7,12,8', 'Tanker')
(213, 'AB 30 AB 1499', 'AB 1499', 8, 'AV - Triple Axle(14 Tyres)', 'TATA', '3516TC-16,7,10,8', 'Tanker')
(214, 'AB 30AB 1599', 'AB 1599', 8, 'AV - Triple Axle(14 Tyres)', 'TATA', '3516TC-16,7,10,8', 'Tanker')
(215, 'AB 30 AH 4899', 'AH 4899', 8, 'RC - Double Axle', 'TATA', '2515TC', 'Tanker')
(217, 'AB 30E 4999', 'E 4999', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(218, 'AB 30 E 5799.', 'E 5799.', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(219, 'AB 30B 6999', 'B 6999', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(220, 'AB 30 AB 1699', 'AB 1699', 8, 'AV - Triple Axle(14 Tyres)', 'TATA', '3516TC-16,7,10,8', 'Tanker')
(222, 'AB 30 AA 6899', 'AA 6899', 8, 'AV - Triple Axle(14 Tyres)', 'TATA', '3516TC-16,7,10,8', 'Tanker')
(223, 'AB 30 AF 4799', 'AF 4799', 8, 'RC - Double Axle', 'AL', '2214/1', 'Tanker')
(224, 'AB 30 AF 6799 ', 'AF 6799', 8, 'RC - Double Axle', 'TATA', '2515TC', 'Tanker')
(225, 'AB 30L 2499', 'L 2499', 8, 'RC - Double Axle', 'TATA', '2515 TCIC', 'Tanker')
(226, 'AB 30 BA 0499', 'BA 0499', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/412-15,7,10,8', 'Tanker')
(229, 'AB 30AH 0004', 'AH 0004(AP 0409)', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/Hino-10,7,12,8', 'Tanker')
(233, 'AB 30 E 5899', 'E 5899', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(234, 'AB 30 L 2399', 'L 2399', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(235, 'AB 27M 7899', 'M 7899', 8, 'RC - Double Axle', 'AL', '2214/1', 'Tanker')
(236, 'AB 30 D 16990', 'D 16990', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(237, 'AB 30 B 6899', 'B 6899', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(238, 'AB 30 B 6799', 'B 6799', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(241, 'AB 30 AT 6160', 'AT 6160', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(242, 'AB 30 E 0499', 'E 0499', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(244, 'AB 30 H 1499', 'H 1499', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(245, 'AB 30 F 1899', 'F 1899', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(246, 'AB 30 J 3699', 'J 3699', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(248, 'AB 30J 2799', 'J 2799', 8, 'RC - Double Axle', 'TATA', '2515 TCIC', 'Tanker')
(255, 'AB 30 AA 3399', 'AA 3399', 8, 'RC - Double Axle', 'TATA', '2515 TCIC', 'Tanker')
(256, 'AB 30 AB 1299', 'AB 1299', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/Hino-10,7,12,8', 'Tanker')
(257, 'AB 30 AA 2299', 'AA 2299', 8, 'RC - Double Axle', 'TATA', '2515 TCIC', 'Tanker')
(258, 'AB 30 AA 2499', 'AA 2499', 8, 'RC - Double Axle', 'TATA', '2515 TCIC', 'Tanker')
(259, 'AB 30 AA 2399', 'AA 2399', 8, 'RC - Double Axle', 'TATA', '2515 TCIC', 'Tanker')
(260, 'AB 30 AA 0099', 'AA 0099', 8, 'AV - Triple Axle(14 Tyres)', 'TATA', '3516TC-16,7,10,8', 'Tanker')
(261, 'AB 30 E 0799', 'E 0799', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(262, 'AB 30 D 1599', 'D 1599', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(264, 'AB 30AD 2299', 'AD 2299', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(265, 'AB 30L 6899', 'L 6899', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/Hino-10,7,12,8', 'Tanker')
(266, 'AB 30 A 0599', 'A 0599', 8, 'RC - Double Axle', 'AL', '2214/1', 'Tanker')
(267, 'AB 30AJ 0367', 'AJ 0367(AP 337)', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/Hino-10,7,12,8', 'Tanker')
(268, 'AB 30AD 2399', 'AD 2399', 8, 'RC - Double Axle', 'AL', '2214/1', 'Tanker')
(269, 'AB 30E 4699', 'E 4699', 8, 'RC - Double Axle', 'AL', '2516/1T', 'Tanker')
(271, 'AB 30 L 3999', 'L 3999', 8, 'RC - Double Axle', 'TATA', '2515 TCIC', 'Tanker')
(276, 'AB 30J 2399 ', 'J 2399', 8, 'RC - Double Axle', 'TATA', '2515 TCIC', 'Tanker')
(277, 'AB 30 F 1399', 'F 1399', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(278, 'AB 30 AC 7899', 'AC 7899', 8, 'AV - Triple Axle(14 Tyres)', 'TATA', '3516TC-16,7,10,8', 'Tanker')
(279, 'AB 30E 4899', 'E 4899', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(280, 'AB 30E 0299', 'E 0299', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(281, 'AB 30 E 0699', 'E 0699', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(282, 'AB 30B 5699', 'B 5699', 8, 'RC - Double Axle', 'AL', '2214/1S-10,7,10,4', 'Tanker')
(283, 'AB 30 P 4699', 'P 4699', 8, 'RC - Double Axle', 'TATA', '2515 TCIC', 'Tanker')
(284, 'AB 30 P 5899 ', 'P 5899', 8, 'RC - Double Axle', 'TATA', '2515 TCIC', 'Tanker')
(285, 'AB 30 P 4799', 'P 4799', 8, 'RC - Double Axle', 'TATA', '2515 TCIC', 'Tanker')
(286, 'AB 30 P 4899', 'P 4899', 8, 'RC - Double Axle', 'TATA', '2515 TCIC', 'Tanker')
(287, 'AB 30 BA 1299', 'BA 1299', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/Hino-10,7,12,8', 'Tanker')
(288, 'AB 27 D 4599', 'D 4599', 8, 'RC - Single Axle', 'TATA', '1210', 'Tanker')
(290, 'AB 30A 0699', 'A 0699', 8, 'RC - Double Axle', 'TATA', '2213', 'Tanker')
(291, 'AB 30AE 3699', 'AE 3699', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/Hino-10,7,12,8', 'Tanker')
(292, 'AB 30 AB 1899', 'AB 1899', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/Hino-10,7,12,8', 'Tanker')
(293, 'AB 30 BA 1899', 'BA 1899', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/412-15,7,10,8', 'Tanker')
(294, 'CD 9U 299', 'U 299', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/Hino-10,7,12,8', 'LPG')
(295, 'BC 01A 5899', 'KA 5899', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/Hino-10,7,12,8', 'LPG')
(296, 'AB 30 BA 1799', 'BA 1799', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/412-15,7,10,8', 'Tanker')
(297, 'AB 30 AB 0499', 'AB 0499', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/Hino-10,7,12,8', 'LPG')
(298, 'AB 27 C 6799', 'C 6799', 8, 'RC - Single Axle', 'nan', 'nan', 'nan')
(299, 'DE 02D 2899', 'NL 2899', 8, 'RC - Double Axle', 'TATA', '2515TC', 'Tanker')
(300, 'DE 02D 2999', 'NL 2999', 8, 'RC - Double Axle', 'TATA', '2515TC', 'Tanker')
(330, 'AB 70 3099', '3099', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518 IL-18,7,12,8', 'Tanker')
(331, 'AB 70 3599', '3599', 8, 'RC - Triple Axle', 'TATA', '3118TC-16,7,10,7', 'Tanker')
(332, 'AB 70 3499', '3499', 8, 'RC - Triple Axle', 'TATA', '3118TC-16,7,10,7', 'Tanker')
(337, 'AB 30 AD 7899', 'AD 7899', 8, 'Four Wheeler', 'TATA', 'Magic', 'Four Wheeler')
(343, 'XYZ 2899', '2899', 8, 'RC - Single Axle', 'TATA', '1210', 'Tanker')
(384, 'AB 27C 2399', 'C 2399', 8, 'Four Wheeler', 'AL', '1612', 'nan')
(389, 'AB 30 AJ 4099', 'AJ 4099', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/Hino-10,7,12,8', 'LPG')
(390, 'AB 30 AJ 3799', 'AJ 3799', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/Hino-10,7,12,8', 'LPG')
(394, 'AB 30 AF 99', 'AF 99', 8, 'Four Wheeler', 'nan', 'nan', 'Four Wheeler')
(413, 'AB 30 AK 5799', 'AK 5799', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518 IL-18,7,12,8', 'LPG')
(414, 'AB 30 AK 5899', 'AK 5899', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518 IL-18,7,12,8', 'LPG')
(426, 'AB 30 AP 4599', 'AP 4599', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518 IL-18,7,12,8', 'Tanker')
(427, 'AB 54 E 2899', 'E 2899', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518 IL-18,7,12,8', 'Tanker')
(428, 'AB 30 AQ 1399', 'AQ 1399', 8, 'Four Wheeler', 'M & M', 'Maxximo BS3', 'Four Wheeler')
(430, 'AB 30 AQ 5999', 'AQ 5999', 8, 'RC - Double Axle', 'AL', '2516 IL', 'Tanker')
(431, 'AB 30 AQ 4599', 'AQ 4599', 8, 'RC - Double Axle', 'AL', '2516 IL', 'Tanker')
(433, 'AB 30 AQ 0099', 'AQ 0099', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518 IL-18,7,12,8', 'Tanker')
(435, 'AB 30 AR 2799', 'AR 2799 ', 8, 'RC - Double Axle', 'AL', '2516 IL', 'Tanker')
(436, 'AB 30 AR 2699', 'AR 2699', 8, 'RC - Double Axle', 'AL', '2516 IL', 'Tanker')
(453, 'AB 30 AS 2599', 'AS 2599', 8, 'RC - Double Axle', 'AL', '2516 IL TS-16,7,10,5', 'Tanker')
(455, 'AB 30 AS 2699', 'AS 2699', 8, 'RC - Double Axle', 'AL', '2516 IL TS-16,7,10,5', 'Tanker')
(458, 'AB 30 AT 0199', 'AT 0199', 8, 'RC - Double Axle', 'AL', '2516 IL TS-16,7,10,5', 'Tanker')
(459, 'AB 30 AT 0299', 'AT 0299', 8, 'RC - Double Axle', 'AL', '2516 IL TS-16,7,10,5', 'Tanker')
(460, 'AB 30 AT 0499', 'AT 0499', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518 IL-18,7,12,8', 'Tanker')
(463, 'AB 30 AT 4799', 'AT 4799', 8, 'RC - Triple Axle', 'AL', '3116 IL TS', 'Tanker')
(464, 'BC 51 B 4899', 'KA 4899', 8, 'RC - Double Axle', 'AL', '2516 IL TS-16,7,10,5', 'Tanker')
(465, 'AB 30 AT 5699', 'AT 5699', 8, 'RC - Triple Axle', 'AL', '3118 IL TS 18,7.12,8', 'Tanker')
(466, 'BC 51 B 4499', 'KA 4499', 8, 'RC - Double Axle', 'AL', '2516 IL TS-16,7,10,5', 'Tanker')
(488, 'AB 30 AU 2699', 'AU 2699', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(489, 'AB 30 AU 4499', 'AU 4499', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518 IL-18,7,12,8', 'Tanker')
(490, 'AB 30 AU 4999', 'AU 4999', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518 IL-18,7,12,8', 'Tanker')
(509, 'BC 19 AA 5799', 'KA 5799', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(510, 'BC 19 AA 5899', 'KA 5899', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(511, 'AB 30 BA 8999', 'BA 8999', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(519, 'BC 51 C 3399', 'KA 3399', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(520, 'BC 51 C 6699', 'KA 6699', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(521, 'BC 51 C 7999', 'KA 7999', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(522, 'BC 51 C 7899', 'KA 7899', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(524, 'BC 51 C 2499', 'KA 2499', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(525, 'BC 51 C 2999', 'KA 2999', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(526, 'BC 51 C 3499', 'KA 3499', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(527, 'BC 51 C 3899', 'KA 3899', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(528, 'BC 51 C 3999', 'KA 3999', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(530, 'BC 51 C 5799', 'KA 5799-51C', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(531, 'BC 51 C 5699', 'KA 5699', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(532, 'BC 51 C 4799', 'KA 4799', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(533, 'BC 51 C 4899', 'KA 4899 (24)', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(552, 'AB 30 BC 2299', 'BC 2299', 8, 'RC - Triple axle -ML(14 Tyres)', 'M. Navinstar', 'Truxo 37-20,9,15,9', 'Tanker')
(555, 'AB 30 BC 2599', 'BC 2599', 8, 'RC - Triple axle -ML(14 Tyres)', 'M. Navinstar', 'Truxo 37-20,9,15,9', 'Tanker')
(557, 'BC 01 AE 4499', 'AE 4499', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(558, 'BC 01 AE 8999', 'AE 8999', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(563, 'BC 01 AE 5699', 'AE 5699', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(564, 'BC 01 AE 3469', 'AE 3469', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(565, 'BC 01 AE 2699', 'AE 2699', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(569, 'AB 30BC 6799', 'BC 6799', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(570, 'BC 01 AE 4679', 'AE 4679', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(571, 'BC 51 C 7779', 'KA 7779', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(572, 'BC 51 C 8889', 'KA 8889', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(573, 'BC 51 C 6689', 'KA 6689', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(574, 'BC 01 AE 6689', 'AE 6689', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(575, 'BC 05 AF 2899', 'AF 2899', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(576, 'BC 05 AF 2999', 'AF 2999', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(577, 'AB 30 BD 0699', 'BD 0699', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(578, 'AB 30 BD 0599', 'BD 0599', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(579, 'AB 30 BD 6899', 'BD 6899', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(580, 'AB 30 BD 7899', 'BD 7899', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(581, 'AB 30 BD 7689', 'BD 7689', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(582, 'BC 51 D 5599', 'KA 5599', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(583, 'BC 51 D 6899', 'KA 6899', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(584, 'BC 51 D 6999', 'KA 6999', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(585, 'AB 30 BE 0499', 'BE 0499', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518/TT-18,7,12,8', 'Tanker')
(586, 'BC 51 D 2899', 'KA 2899', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)-TL', 'Tanker')
(587, 'BC 51 D 3399', 'D 3399', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(588, 'BC 51 D 4499', 'KA 4499(51D)', 8, 'RC - Triple Axle', 'BHARAT BENZ', '3123 Rigid (8x2)', 'Tanker')
(589, 'AB 30 BE 1499', 'BE 1499', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518/TT-18,7,12,8', 'Tanker')
(590, 'AB 30 BE 4999', 'BE 4999', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518/TT-18,7,12,8', 'Tanker')
(591, 'BC 01 AG 5689', 'AG 5689', 8, 'RC - Triple axle -ML(14 Tyres)', 'M. Navinstar', 'Truxo 37-20,9,15,9', 'Tanker')
(592, 'BC 01 AG 5899', 'AG 5899', 8, 'RC - Triple axle -ML(14 Tyres)', 'BHARAT BENZ', '3723 Regid (10x2)', 'Tanker')
(595, 'BC 51 AA 3999', 'KA 3999', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518/TT-18,7,12,8', 'LPG')
(596, 'BC 51 AA 4999', 'KA 4999', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518/TT-18,7,12,8', 'LPG')
(597, 'BC 51 AA 3599', 'KA 3599', 8, 'RC - Triple axle -ML(14 Tyres)', 'BHARAT BENZ', '3723 Regid (10x2)-TL', 'nan')
(599, 'AB 30 BH 3899', 'BH 3899', 8, 'RC - Four Axle(14 Tyres)', 'BHARAT BENZ', '3723 Regid (10x2)', 'Tanker')
(600, 'AB 30 BH 4499', 'BH 4499', 8, 'RC - Four Axle(14 Tyres)', 'BHARAT BENZ', '3723 Regid (10x2)', 'Tanker')
(601, 'AB 30 BH 8999', 'BH 8999', 8, 'RC - Four Axle(14 Tyres)', 'BHARAT BENZ', '3723 Regid (10x2)', 'Tanker')
(602, 'AB 30 BH 8461', 'BH 8461', 8, 'RC - Four Axle(14 Tyres)', 'BHARAT BENZ', '3723 Regid (10x2)', 'Tanker')
(603, 'AB 30 BH 9651', 'BH 9651', 8, 'RC - Four Axle(14 Tyres)', 'BHARAT BENZ', '3723 Regid (10x2)', 'Tanker')
(604, 'BC 01 AH 2050', 'KA 2050', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518/TT-18,7,12,8', 'LPG')
(605, 'AB 30 BJ 1399', 'BJ 1399', 8, 'Four Wheeler', 'nan', 'nan', 'Four Wheeler')
(606, 'AB 30 BM 3924', 'BM 3924', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518/TT-18,7,12,8', 'Tanker')
(608, 'AB 30 AA 2063', 'AA 2063', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3516/412-15,7,10,8', 'Tanker')
(1610, 'AB 52 H 9373', 'H 9373', 8, 'RC - Four Axle(14 Tyres)', 'AL', 'AL3718 IL-18,10,14,8', 'Tanker')
(1611, 'AB 52 J 1388', 'J 1388', 8, 'RC - Four Axle(14 Tyres)', 'AL', 'AL3718 IL-18,10,14,8', 'Tanker')
(1613, 'Genset', 'Genset', 8, 'Dozer', 'nan', 'nan', 'nan')
(1614, 'AB 30 BS 5555', 'BS 5555', 8, 'Four Wheeler', 'nan', 'nan', 'Four Wheeler')
(1623, 'AB 30 BM 6706', 'BM 6706', 8, 'RC - Triple Axle', 'AL', '3518/TT-18,7,12,8', 'Tanker')
(1624, 'AB 30 BM 6795', 'BM 6795', 8, 'RC - Triple Axle', 'AL', '3518/TT-18,7,12,8', 'Tanker')
(1626, 'DE 01 AD 7575', 'NL 7575', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518/TT-18,7,12,8', 'Tanker')
(1627, 'DE 01 AD 7498', 'NL 7498', 8, 'AV - Triple Axle(14 Tyres)', 'TATA', '3518.S CR BS-IV', 'Tanker')
(1628, 'DE 01 AD 7496', 'NL 7496', 8, 'AV - Triple Axle(14 Tyres)', 'TATA', '3518.S CR BS-IV', 'Tanker')
(1629, 'DE 01 AD 7499', 'NL 7499', 8, 'AV - Triple Axle(14 Tyres)', 'TATA', '3518.S CR BS-IV', 'Tanker')
(1630, 'DE 01 AD 7497', 'NL 7497', 8, 'AV - Triple Axle(14 Tyres)', 'AL', '3518/TT-18,7,12,8', 'Tanker')
(1635, 'AB 30 BQ 2189', 'BQ 2189', 8, 'RC - Four Axle(14 Tyres)', 'MAHINDRA BLAZO X 42', 'MTB BLAZO42 6E1B4', 'Tanker')
(1636, 'AB 30 BQ 2110', 'BQ 2110', 8, 'RC - Four Axle(14 Tyres)', 'MAHINDRA BLAZO X 42', 'MTB BLAZO42 6E1B4', 'Tanker')
(1637, 'AB 30 BQ 5087', 'BQ 5087', 8, 'RC - Four Axle(14 Tyres)', 'MAHINDRA BLAZO X 42', 'MTB BLAZO42 6E1B4', 'Tanker')
(1638, 'AB 30 BQ 5204', 'BQ 5204', 8, 'RC - Four Axle(14 Tyres)', 'MAHINDRA BLAZO X 42', 'MTB BLAZO42 6E1B4', 'Tanker')
(1639, 'AB 30 BQ 5440', 'BQ 5440', 8, 'RC - Four Axle(14 Tyres)', 'AL', '4218 BS IV', 'Tanker')
(1642, 'AB 30 BQ 5575', 'BQ 5575', 8, 'RC - Four Axle(14 Tyres)', 'AL', '4218 BS IV', 'Tanker')