In [1]:
import boto3,os

In [2]:
import pandas as pd

In [3]:
s3=boto3.resource('s3')

In [5]:
s3.meta.client.upload_file(r'E:\Aroha Tech\AWS Session\vehicle_income_expense_master.csv','som-aws-bucket-1','vehicle_income_expense_master.csv')

In [6]:
path='s3://som-aws-bucket-1/vehicle_income_expense_master.csv'
data=pd.read_csv(path, header=None, names=['inc_exp_id','inc_exp_desc','amount_sign','inc_exp_type'])

In [7]:
data

    inc_exp_id                          inc_exp_desc  amount_sign inc_exp_type
0            1                      Tripsheet Income          1.0       Income
1            2                       Voucher Receipt          1.0       Income
2            3            Trip Expense - Recovery(Y)          1.0       Income
3            4                          Trip Expense         -1.0      Expense
4            5                                  Fuel         -1.0      Expense
5            6                       Voucher Payment         -1.0      Expense
6            7                         Journal Entry         -1.0      Expense
7            8                                   AMC         -1.0      Expense
8            9                        Inv Distribute          0.0      Expense
9           10                            JC Invoice         -1.0      Expense
10          11                   Accident Settelment         -1.0      Expense
11          12                        Accident Claim          1.0       Income
12          13                     T6 BillGeneration          1.0       Income
13          14            Tyre Assignment & Rethread         -1.0      Expense
14          15                             Tyre Cost         -1.0      Expense
15          16                Wayside BillGeneration          1.0       Income
16          17                       Vehicle Finance         -1.0      Expense
17          18                  Vehicle Certificates         -1.0      Expense
18          19  Vehicle Certificates - Agent Charges         -1.0      Expense
19          20                            Trip Batta         -1.0      Expense
20          21                Driver Tripsheet Batta         -1.0      Expense
21          22                       Employee Salary         -1.0      Expense
22          23              Driver Helper Incentives         -1.0      Expense
23          24                       PRR Casual Bill          1.0       Income
24          25                      PRR Monthly Bill          1.0       Income
25          26                     Driver TS Expense         -1.0      Expense

In [8]:
import mysql.connector

In [9]:
con=mysql.connector.connect(host='localhost',database='test',user='root',password='root')
cursor=con.cursor()

In [10]:
cursor.execute(" create table vehicle_income_expense_master_table(inc_exp_id int(4) primary Key,inc_exp_desc varchar(250),amount_sign decimal(9),inc_exp_type varchar(250)); ")
print("Table Created Successfully..")

Table Created Successfully..

In [11]:
for (row,column) in data.iterrows():
    query=" insert into vehicle_income_expense_master_table (inc_exp_id,inc_exp_desc,amount_sign,inc_exp_type) values (%s,%s,%s,%s) "
   
    iei=column[0]
    ied=str(column[1])
    ams=column[2]
    iet=str(column[3])
        
    record=(iei,ied,ams,iet)
    cursor.execute(query,record)
con.commit()
cursor.close()

True

In [16]:
con=mysql.connector.connect(host='localhost',database='test',user='root',password='root')
cursor=con.cursor()

In [17]:
cursor.execute("select * from vehicle_income_expense_master_table")

In [18]:
table_data=cursor.fetchall()

In [19]:
for row in table_data:
    print(row)

(1, 'Tripsheet Income', Decimal('1'), 'Income')
(2, 'Voucher Receipt', Decimal('1'), 'Income')
(3, 'Trip Expense - Recovery(Y)', Decimal('1'), 'Income')
(4, 'Trip Expense', Decimal('-1'), 'Expense')
(5, 'Fuel', Decimal('-1'), 'Expense')
(6, 'Voucher Payment', Decimal('-1'), 'Expense')
(7, 'Journal Entry', Decimal('-1'), 'Expense')
(8, 'AMC', Decimal('-1'), 'Expense')
(9, 'Inv Distribute', Decimal('0'), 'Expense')
(10, 'JC Invoice', Decimal('-1'), 'Expense')
(11, 'Accident Settelment', Decimal('-1'), 'Expense')
(12, 'Accident Claim', Decimal('1'), 'Income')
(13, 'T6 BillGeneration', Decimal('1'), 'Income')
(14, 'Tyre Assignment & Rethread', Decimal('-1'), 'Expense')
(15, 'Tyre Cost', Decimal('-1'), 'Expense')
(16, 'Wayside BillGeneration', Decimal('1'), 'Income')
(17, 'Vehicle Finance', Decimal('-1'), 'Expense')
(18, 'Vehicle Certificates', Decimal('-1'), 'Expense')
(19, 'Vehicle Certificates - Agent Charges', Decimal('-1'), 'Expense')
(20, 'Trip Batta', Decimal('-1'), 'Expense')
(21, 'Driver Tripsheet Batta', Decimal('-1'), 'Expense')
(22, 'Employee Salary', Decimal('-1'), 'Expense')
(23, 'Driver Helper Incentives', Decimal('-1'), 'Expense')
(24, 'PRR Casual Bill', Decimal('1'), 'Income')
(25, 'PRR Monthly Bill', Decimal('1'), 'Income')
(26, 'Driver TS Expense', Decimal('-1'), 'Expense')