In [140]:
import pandas as pd

In [141]:
df=pd.read_csv(r'E:\Aroha Tech\Pandas Session\Pandas\ETH_1h.csv')

In [142]:
df

                   Date  Symbol    Open    High     Low   Close      Volume
0      2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1      2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2      2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3      2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4      2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                 ...     ...     ...     ...     ...     ...         ...
23669  2017-07-01 03-PM  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670  2017-07-01 02-PM  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671  2017-07-01 01-PM  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672  2017-07-01 12-PM  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673  2017-07-01 11-AM  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

# To check more info like how many rows and columns are there

In [143]:
df.shape

(23674, 7)

In [144]:
#To find a perticular date

In [145]:
df.loc[2,'Date']

'2020-03-13 06-PM'

In [146]:
# To find day name of perticular date

In [147]:

df.loc[2,'Date'].day_name()

AttributeError: 'str' object has no attribute 'day_name'

In [148]:
# Here Date column is Sting type, So we have to convert it's type to date

In [149]:
df['Date']=pd.to_datetime(df['Date'])

ParserError: Unknown string format: 2020-03-13 08-PM

In [150]:
# Here Date column not well proper format that pandas intepreter is to detect, So we have to make it proper format

In [151]:
df['Date']=pd.to_datetime(df['Date'] , format='%Y-%m-%d %I-%p' )

In [152]:
df['Date']

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [153]:
# To find day name of perticular date

df.loc[2,'Date'].day_name()    # it give the day name

'Friday'

In [154]:
# If we want to make Date column type as date when at the time loading a file , then we have to perform below operation

In [155]:
df1=pd.read_csv(r'E:\Aroha Tech\Pandas Session\Pandas\ETH_1h.csv', parse_dates=['Date'])

In [156]:
df1

                   Date  Symbol    Open    High     Low   Close      Volume
0      2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1      2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2      2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3      2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4      2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                 ...     ...     ...     ...     ...     ...         ...
23669  2017-07-01 03-PM  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670  2017-07-01 02-PM  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671  2017-07-01 01-PM  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672  2017-07-01 12-PM  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673  2017-07-01 11-AM  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [157]:

# If Date column already in the way it's formated like the pandas can parse them ,then we don't need to pass anithing
# But in case of above file Date column is not well formatting , so we ahve to pass a function that convert each string
# to date time object , so for that we use lambda function

In [158]:
d_parser=lambda x : pd.datetime.strptime(x ,'%Y-%m-%d %I-%p')

df2=pd.read_csv(r'E:\Aroha Tech\Pandas Session\Pandas\ETH_1h.csv', parse_dates=['Date'], date_parser=d_parser)

<ipython-input-158-15cef71be9c8>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  d_parser=lambda x : pd.datetime.strptime(x ,'%Y-%m-%d %I-%p')

In [159]:
df2

                     Date  Symbol    Open    High     Low   Close      Volume
0     2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1     2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2     2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3     2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4     2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                   ...     ...     ...     ...     ...     ...         ...
23669 2017-07-01 15:00:00  ETHUSD  265.74  272.74  265.00  272.57  1500282.55
23670 2017-07-01 14:00:00  ETHUSD  268.79  269.90  265.00  265.74  1702536.85
23671 2017-07-01 13:00:00  ETHUSD  274.83  274.93  265.00  268.79  3010787.99
23672 2017-07-01 12:00:00  ETHUSD  275.01  275.01  271.00  274.83   824362.87
23673 2017-07-01 11:00:00  ETHUSD  279.98  279.99  272.10  275.01   679358.87

[23674 rows x 7 columns]

In [160]:
# To display all dates Day name , we have to access 'dt' class of day_name() method 
# 'dt' is the class of pandas series object

In [161]:
df2['Date'].dt.day_name()

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [162]:
# To create or add a new column of days name in that  existing dataFrame

In [163]:
df2['Day_of_Week']=df2['Date'].dt.day_name()

In [164]:
df2

,Date,Symbol,Open,High,Low,Close,Volume,Day_of_Week
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday

In [165]:
# To view the erliest and lastest date data,
# For this we can use min and max function

In [166]:
df2['Date'].min()    # To view earliest date

Timestamp('2017-07-01 11:00:00')

In [167]:
df2['Date'].max()    # To view lastest/recent date

Timestamp('2020-03-13 20:00:00')

In [168]:
# We can substract 2 dates inorder to view the time between those 2 dates,
# And substarction nothing but timedelta

In [169]:
df2['Date'].max() - df2['Date'].min()

Timedelta('986 days 09:00:00')

In [170]:
# If we want to view the data of year wise / one perticular year, then we have to filter out the date

In [171]:
filt=(df2['Date'] >='2020')         # Here we get 2020 year data as well as greater than of 2020 year data, 
                                    # If we assign '=' oprerator , then we will get invalid syntax error
                                    # Here filt is variable / handler which store coresponding data

In [172]:
df2.loc[filt]

,Date,Symbol,Open,High,Low,Close,Volume,Day_of_Week
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
1744,2020-01-01 04:00:00,ETHUSD,129.57,130.00,129.50,129.56,702786.82,Wednesday
1745,2020-01-01 03:00:00,ETHUSD,130.37,130.44,129.38,129.57,496704.23,Wednesday
1746,2020-01-01 02:00:00,ETHUSD,130.14,130.50,129.91,130.37,396315.72,Wednesday
1747,2020-01-01 01:00:00,ETHUSD,128.34,130.14,128.32,130.14,635419.40,Wednesday
1748,2020-01-01 00:00:00,ETHUSD,128.54,128.54,128.12,128.34,245119.91,Wednesday

In [173]:
# To get only a perticular year data like 2019

In [174]:
filt1=(df2['Date'] >='2019') & (df2['Date'] <'2020') 
df2.loc[filt1]

,Date,Symbol,Open,High,Low,Close,Volume,Day_of_Week
1749,2019-12-31 23:00:00,ETHUSD,128.33,128.69,128.14,128.54,440678.91,Tuesday
1750,2019-12-31 22:00:00,ETHUSD,128.38,128.69,127.95,128.33,554646.02,Tuesday
1751,2019-12-31 21:00:00,ETHUSD,127.86,128.43,127.72,128.38,350155.69,Tuesday
1752,2019-12-31 20:00:00,ETHUSD,127.84,128.34,127.71,127.86,428183.38,Tuesday
1753,2019-12-31 19:00:00,ETHUSD,128.69,128.69,127.60,127.84,1169847.84,Tuesday
...,...,...,...,...,...,...,...,...
10504,2019-01-01 04:00:00,ETHUSD,130.75,133.96,130.74,131.96,2791135.37,Tuesday
10505,2019-01-01 03:00:00,ETHUSD,130.06,130.79,130.06,130.75,503732.63,Tuesday
10506,2019-01-01 02:00:00,ETHUSD,130.79,130.88,129.55,130.06,838183.43,Tuesday
10507,2019-01-01 01:00:00,ETHUSD,131.62,131.62,130.77,130.79,434917.99,Tuesday
10508,2019-01-01 00:00:00,ETHUSD,130.53,131.91,130.48,131.62,1067136.21,Tuesday

In [175]:
# Another way, To get only a perticular year data like 2019

In [176]:
filt2=(df2['Date']>=pd.to_datetime('2019-01-01')) & (df2['Date'] < pd.to_datetime('2020-01-01'))

In [177]:
df2.loc[filt2]

,Date,Symbol,Open,High,Low,Close,Volume,Day_of_Week
1749,2019-12-31 23:00:00,ETHUSD,128.33,128.69,128.14,128.54,440678.91,Tuesday
1750,2019-12-31 22:00:00,ETHUSD,128.38,128.69,127.95,128.33,554646.02,Tuesday
1751,2019-12-31 21:00:00,ETHUSD,127.86,128.43,127.72,128.38,350155.69,Tuesday
1752,2019-12-31 20:00:00,ETHUSD,127.84,128.34,127.71,127.86,428183.38,Tuesday
1753,2019-12-31 19:00:00,ETHUSD,128.69,128.69,127.60,127.84,1169847.84,Tuesday
...,...,...,...,...,...,...,...,...
10504,2019-01-01 04:00:00,ETHUSD,130.75,133.96,130.74,131.96,2791135.37,Tuesday
10505,2019-01-01 03:00:00,ETHUSD,130.06,130.79,130.06,130.75,503732.63,Tuesday
10506,2019-01-01 02:00:00,ETHUSD,130.79,130.88,129.55,130.06,838183.43,Tuesday
10507,2019-01-01 01:00:00,ETHUSD,131.62,131.62,130.77,130.79,434917.99,Tuesday
10508,2019-01-01 00:00:00,ETHUSD,130.53,131.91,130.48,131.62,1067136.21,Tuesday

In [178]:
# There are some other way to get data of peticular year ,
# So  for this we have to make that Date column as our index column

In [179]:
df3= df2

In [180]:
df3

,Date,Symbol,Open,High,Low,Close,Volume,Day_of_Week
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday

In [181]:
df3.set_index('Date', inplace=True)

In [182]:
df3

,Symbol,Open,High,Low,Close,Volume,Day_of_Week
Date,,,,,,,
2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...
2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday

In [199]:
df3['2019']  # To get perticulaer year 2019 data
# or,
#df3.loc['2019']

<ipython-input-199-f09fc4169a7a>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df3['2019']  # To get perticulaer year 2019 data

,Symbol,Open,High,Low,Close,Volume,Day_of_Week
Date,,,,,,,
2019-12-31 23:00:00,ETHUSD,128.33,128.69,128.14,128.54,440678.91,Tuesday
2019-12-31 22:00:00,ETHUSD,128.38,128.69,127.95,128.33,554646.02,Tuesday
2019-12-31 21:00:00,ETHUSD,127.86,128.43,127.72,128.38,350155.69,Tuesday
2019-12-31 20:00:00,ETHUSD,127.84,128.34,127.71,127.86,428183.38,Tuesday
2019-12-31 19:00:00,ETHUSD,128.69,128.69,127.60,127.84,1169847.84,Tuesday
...,...,...,...,...,...,...,...
2019-01-01 04:00:00,ETHUSD,130.75,133.96,130.74,131.96,2791135.37,Tuesday
2019-01-01 03:00:00,ETHUSD,130.06,130.79,130.06,130.75,503732.63,Tuesday
2019-01-01 02:00:00,ETHUSD,130.79,130.88,129.55,130.06,838183.43,Tuesday
2019-01-01 01:00:00,ETHUSD,131.62,131.62,130.77,130.79,434917.99,Tuesday
2019-01-01 00:00:00,ETHUSD,130.53,131.91,130.48,131.62,1067136.21,Tuesday

In [185]:
# To get data with in range of date january and febuary of year 2020

In [201]:
df3['2020-01':'2020-02']  # By using Slice operator
#or,
#df3.loc['2020-01':'2020-02']

,Symbol,Open,High,Low,Close,Volume,Day_of_Week
Date,,,,,,,
2020-02-29 23:00:00,ETHUSD,223.35,223.58,216.83,217.31,1927939.88,Saturday
2020-02-29 22:00:00,ETHUSD,223.48,223.59,222.14,223.35,535998.57,Saturday
2020-02-29 21:00:00,ETHUSD,224.63,225.14,222.74,223.48,561158.03,Saturday
2020-02-29 20:00:00,ETHUSD,225.31,225.33,223.50,224.63,511648.65,Saturday
2020-02-29 19:00:00,ETHUSD,225.09,225.85,223.87,225.31,1250856.20,Saturday
...,...,...,...,...,...,...,...
2020-01-01 04:00:00,ETHUSD,129.57,130.00,129.50,129.56,702786.82,Wednesday
2020-01-01 03:00:00,ETHUSD,130.37,130.44,129.38,129.57,496704.23,Wednesday
2020-01-01 02:00:00,ETHUSD,130.14,130.50,129.91,130.37,396315.72,Wednesday
2020-01-01 01:00:00,ETHUSD,128.34,130.14,128.32,130.14,635419.40,Wednesday
2020-01-01 00:00:00,ETHUSD,128.54,128.54,128.12,128.34,245119.91,Wednesday

In [188]:
df3['2020-01':'2020-02']['Close']
#or,
#df3.loc['2020-01':'2020-02']['Close']

Date
2020-02-29 23:00:00    217.31
2020-02-29 22:00:00    223.35
2020-02-29 21:00:00    223.48
2020-02-29 20:00:00    224.63
2020-02-29 19:00:00    225.31
                        ...
2020-01-01 04:00:00    129.56
2020-01-01 03:00:00    129.57
2020-01-01 02:00:00    130.37
2020-01-01 01:00:00    130.14
2020-01-01 00:00:00    128.34
Name: Close, Length: 1440, dtype: float64

In [189]:
# To get average Close price of between the date in range januari 2020 to febuary 2020

In [202]:
df3['2020-01':'2020-02']['Close'].mean()
#or,
#df3.loc['2020-01':'2020-02']['Close'].mean()

195.16559027777814

In [191]:
# To get High(column) value of a perticular data

In [203]:
df3['2020-01-01']['High']
# or,
#df3.loc['2020-01-01']['High']

<ipython-input-203-74f856205cdb>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df3['2020-01-01']['High']

Date
2020-01-01 23:00:00    130.27
2020-01-01 22:00:00    131.41
2020-01-01 21:00:00    131.99
2020-01-01 20:00:00    131.87
2020-01-01 19:00:00    131.72
2020-01-01 18:00:00    132.14
2020-01-01 17:00:00    132.68
2020-01-01 16:00:00    132.56
2020-01-01 15:00:00    132.15
2020-01-01 14:00:00    132.05
2020-01-01 13:00:00    132.08
2020-01-01 12:00:00    131.31
2020-01-01 11:00:00    131.42
2020-01-01 10:00:00    130.33
2020-01-01 09:00:00    130.22
2020-01-01 08:00:00    130.01
2020-01-01 07:00:00    130.25
2020-01-01 06:00:00    130.25
2020-01-01 05:00:00    129.94
2020-01-01 04:00:00    130.00
2020-01-01 03:00:00    130.44
2020-01-01 02:00:00    130.50
2020-01-01 01:00:00    130.14
2020-01-01 00:00:00    128.54
Name: High, dtype: float64

In [194]:
# To get maximum of High value of a perticular day

In [204]:
df3['2020-01-01']['High'].max()
#or,

#df3.loc['2020-01-01']['High'].max()

<ipython-input-204-7e3c4523d470>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df3['2020-01-01']['High'].max()

132.68

In [205]:
# To get maximum value of High column for each day,
# for this we have to use resample() method

In [209]:
df3['High'].resample('D').max()    # Here 'D' refers to Day , But sa our requirements, we can change that , if we want to get 
                                    # data like weekly,monthly, yearly, quaterly

Date
2017-07-01    279.99
2017-07-02    293.73
2017-07-03    285.00
2017-07-04    282.83
2017-07-05    274.97
               ...
2020-03-09    208.65
2020-03-10    206.28
2020-03-11    202.98
2020-03-12    195.64
2020-03-13    148.00
Freq: D, Name: High, Length: 987, dtype: float64

In [210]:
highs=df3['High'].resample('D').max()

In [211]:
highs

Date
2017-07-01    279.99
2017-07-02    293.73
2017-07-03    285.00
2017-07-04    282.83
2017-07-05    274.97
               ...
2020-03-09    208.65
2020-03-10    206.28
2020-03-11    202.98
2020-03-12    195.64
2020-03-13    148.00
Freq: D, Name: High, Length: 987, dtype: float64

In [212]:
highs['2020-01-01']

132.68

In [213]:
# To get average of all column by weekly

In [214]:
df3.resample('W').mean()

                  Open        High         Low       Close        Volume
Date
2017-07-02  268.066486  271.124595  264.819730  268.202162  2.185035e+06
2017-07-09  261.337024  262.872917  259.186190  261.062083  1.337349e+06
2017-07-16  196.193214  199.204405  192.722321  195.698393  2.986756e+06
2017-07-23  212.351429  215.779286  209.126310  212.783750  4.298593e+06
2017-07-30  203.496190  205.110357  201.714048  203.309524  1.581729e+06
...                ...         ...         ...         ...           ...
2020-02-16  255.021667  257.255238  252.679762  255.198452  2.329087e+06
2020-02-23  265.220833  267.263690  262.948512  265.321905  1.826094e+06
2020-03-01  236.720536  238.697500  234.208750  236.373988  2.198762e+06
2020-03-08  229.923571  231.284583  228.373810  229.817619  1.628910e+06
2020-03-15  176.937521  179.979487  172.936239  176.332821  4.259828e+06

[142 rows x 5 columns]

In [218]:
# if we want to get value like for High column maximum vale , Low column minimum value, close column average value 
# and total value of volume column on weekly basis,
# then we use aggregate function agg.

In [217]:
df3.resample('W').agg({'High':'max','Low':'min','Close':'mean','Volume':'sum'})

              High     Low       Close        Volume
Date
2017-07-02  293.73  253.23  268.202162  8.084631e+07
2017-07-09  285.00  231.25  261.062083  2.246746e+08
2017-07-16  240.33  130.26  195.698393  5.017750e+08
2017-07-23  249.40  153.25  212.783750  7.221637e+08
2017-07-30  229.99  178.03  203.309524  2.657305e+08
...            ...     ...         ...           ...
2020-02-16  290.00  216.31  255.198452  3.912867e+08
2020-02-23  287.13  242.36  265.321905  3.067838e+08
2020-03-01  278.13  209.26  236.373988  3.693920e+08
2020-03-08  253.01  196.00  229.817619  2.736569e+08
2020-03-15  208.65   90.00  176.332821  4.983998e+08

[142 rows x 4 columns]